<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsProductSaleAttrMapper">

    <resultMap id="spuSaleAttrList" type="com.atguigu.gmall.bean.PmsProductSaleAttr" autoMapping="true">
        <result property="id" column="sa_id"></result>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.bean.PmsProductSaleAttrValue" autoMapping="true">
            <result column="sv_id" property="id"></result>
        </collection>
    </resultMap>

    <select id="selectSpuSaleAttrListCheckBySku" resultType="com.atguigu.gmall.bean.UmsMember" resultMap="spuSaleAttrList" >
        select
      sa.*,sv.*, sa.id as sa_id, sv.id as sv_id ,if(sav.sku_id,1,0) as isChecked
      from pms_product_sale_attr sa
      inner join pms_product_sale_attr_value sv
      on  sa.product_id = sv.product_id
      and sa.sale_attr_id = sv.sale_attr_id
      and sa.product_id = #{spuId}
      left join pms_sku_sale_attr_value sav
      on  sav.sale_attr_value_id = sv.id
      and sav.sku_id = #{skuId}
    </select>
</mapper>